dist/
.astro/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.env
.env.production
.env.local
.env.*.local
.DS_Store
.idea/
.vscode/
.codex
openresty/
teaser.pptx
~$teaser.pptx
.claude/
